<div class="row">
    <div class="col-sm-12">
        <a id ="back-btn" href="#" onclick=doPost("action=displayVEs&title=VE-Menu")><span class="glyphicon glyphicon-chevron-left"></span>Go Back</a>
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="menu-container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Select Your Professor</h2>
            <div class="btn-list">
                {% for professor in professors %}
                    <a href="#" onclick=doPost("action=displayCourses&title=Add-VE")><div>{{ professor }}</div></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
