<div class="row">
    <div class="col-sm-12">
        <a id ="back-btn" href="#" onclick=doPost("action=displayVEs&title=VE-Menu")><span class="glyphicon glyphicon-chevron-left"></span>Go Back</a>
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="menu-container">
    <div class="row">
        <div class="col-sm-2">
            <div class="ve-btn-list">
                <a href="#"><div>Start VE</div></a>
                <a href="#"><div>Stop VE</div></a>
                <a href="#"><div>Screenshot</div></a>
                <a href="#" onclick=doPost("action=displayLog&title={{ title }}")><div>Log</div></a>
                <a href="#"><div>Trash</div></a>
            </div>
        </div>

        <div class="col-sm-10">
            <table>
                <tr>
                    <th>VM</th>
                    <th>Status</th>
                    <th>Start</th>
                    <th>Stop</th>
                    <th>Log</th>
                    <th>Rollback</th>
                    <th>Console</th>
                </tr>
                {% for vm_name in vms %}
                    {% include 'vm-row.html' %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>

